.background {
  background-color: #f1f5f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.max-width {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divheader {
  height: 63px;
}

.name {
  width: 100%;
  background-color: #f8f7f7;
  height: 34px;
  border-bottom: 2px blue dotted;
}

.name h {
  font-size: 13px;
  font-weight: 700;
  margin-left: 20px;
}

.uppertabs {
  width: 100%;
  background-color: #f8f7f7;
  margin-bottom: -15px;
  padding-bottom: 5px;
  margin-top: -15px;
}

.uppertabs ul {
  display: flex;
  margin-left: -20px;
  list-style-type: none;
}

.uppertabs ul {
  width: 15%;
}

.uppertabs li {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
/*Section Overview*/
.penjelasan img {
  width: 360px;
}

.penjelasan p1 {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.penjelasan .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px rgb(158, 158, 158) solid;
  width: 90%;
  padding-bottom: 25px;
}
.penjelasan {
  background-color: #163c80;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview .button {
  background-color: #163c80;
  display: flex;
}

.overview .button .unduh {
  width: max-content;
  margin-top: 20px;
  margin-left: 115px;
  color: white;
  background-color: #163c80;
  border-color: white;
}

.overview .button .harga {
  width: max-content;
  margin-top: 20px;
  background-color: white;
  margin-left: 8px;
  border-color: white;
  height: 43px;
}
/*Section Produk*/
.produk {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produk h {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}

.tabstipe .tabs {
  list-style-type: none;
  display: flex;
  margin-top: 10px;
  margin-left: 80px;
}

.tabstipe {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.tabstipe .picked1 {
  margin-left: -40px;
  color: #163c80;
  transition: all 0.3s ease;
  border-bottom: 2px #163c80 solid;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  padding-right: 10px;
  padding-left: 10px;
}

.tabstipe .unpicked1 {
  margin-left: -40px;
  color: #163d8032;
  border-bottom: 2px #163d8032 solid;
  padding-bottom: 10px;
  font-size: 18px;
  transition: all 0.3s ease;
  font-weight: 600;
  padding-right: 10px;
  padding-left: 10px;
}

.tabstipe .picked2 {
  color: #163c80;
  border-bottom: 2px #163c80 solid;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease;
  padding-right: 10px;
  padding-left: 10px;
}

.tabstipe .unpicked2 {
  color: #163d8032;
  border-bottom: 2px #163d8032 solid;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease;
  padding-right: 10px;
  padding-left: 10px;
}

.pickedwarna1 {
  background-color: #c04c3c;
  transition: all 0.3s ease;
  border: 2px#163c80 solid;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.unpickedwarna1 {
  background-color: #c04c3c;
  transition: all 0.3s ease;
  border: 2px rgb(197, 197, 197) solid;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.pickedwarna1:hover {
  background-color: #c04c3c;
  transition: all 0.3s ease;
  border: 2px#163c80 solid;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.unpickedwarna1:hover {
  background-color: #c04c3c;
  transition: all 0.3s ease;
  border: 2px rgb(197, 197, 197) solid;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}
.pickedwarna2 {
  background-color: #ae923d;
  transition: all 0.3s ease;
  border: 2px#163c80 solid;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.pickedwarna2:hover {
  background-color: #ae923d;
  transition: all 0.3s ease;
  border: 2px#163c80 solid;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.unpickedwarna2 {
  background-color: #ae923d;
  transition: all 0.3s ease;
  border: 2px rgb(197, 197, 197) solid;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.unpickedwarna2:hover {
  background-color: #ae923d;
  transition: all 0.3s ease;
  border: 2px rgb(197, 197, 197) solid;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.pickedwarna3 {
  background-color: #000000;
  transition: all 0.3s ease;
  border: 2px#163c80 solid;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.unpickedwarna3 {
  background-color: #000000;
  transition: all 0.3s ease;
  border: 2px rgb(197, 197, 197) solid;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.pickedwarna4 {
  background-color: #ffffff;
  transition: all 0.3s ease;
  border: 2px#163c80 solid;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.unpickedwarna4 {
  background-color: #ffffff;
  transition: all 0.3s ease;
  border: 2px rgb(197, 197, 197) solid;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.pickedwarna3:hover {
  background-color: #000000;
  transition: all 0.3s ease;
  border: 2px#163c80 solid;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.unpickedwarna3:hover {
  background-color: #000000;
  transition: all 0.3s ease;
  border: 2px rgb(197, 197, 197) solid;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.pickedwarna4:hover {
  background-color: #ffffff;
  transition: all 0.3s ease;
  border: 2px#163c80 solid;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.unpickedwarna4:hover {
  background-color: #ffffff;
  transition: all 0.3s ease;
  border: 2px rgb(197, 197, 197) solid;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.gambarmobil img {
  width: 400px;
  transition: all 0.3s ease;
}
/*Section Exterior*/
.exterior .judul {
  width: 100%;
  background-color: #163c80;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exterior .judul h {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}
.line0 {
  width: 450px;
  height: 189px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(97, 97, 97, 0.733)
    ),
    url("../../assets/Line1.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line0 p {
  margin-top: 150px;
  color: white;
  font-size: 12px;
  font-weight: 400;
}
.line1 {
  display: flex;
}

.line1 .first {
  width: 50%;
  height: 187px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(97, 97, 97, 0.733)
    ),
    url("../../assets/Line1first.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line1 .first p1 {
  margin-top: 145px;
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.line1 .first p2 {
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.line1 .second {
  width: 50%;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(97, 97, 97, 0.733)
    ),
    url("../../assets/Line1second.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line1 .second p1 {
  margin-top: 145px;
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.line1 .second p2 {
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.line2 {
  display: flex;
}

.line2 .first {
  width: 50%;
  height: 187px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(97, 97, 97, 0.733)
    ),
    url("../../assets/Line2first.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line2 .first p {
  margin-top: 160px;
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.line2 .second {
  width: 50%;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(97, 97, 97, 0.733)
    ),
    url("../../assets/Line2second.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line2 .second p {
  margin-top: 160px;
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.exterior .tombolbawah {
  background-color: #163c80;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exterior .tombolbawah button {
  margin-top: 20px;
  margin-bottom: 20px;
  border-color: white;
  background-color: #163c80;
  color: white;
}
/*Section Interior*/
.interior {
  margin-top: 20px;
}
.interior .judul {
  width: 100%;
  background-color: #163c80;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interior .judul h {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}
.line0 {
  width: 450px;
  height: 189px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(97, 97, 97, 0.733)
    ),
    url("../../assets/interior0.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line0 p {
  margin-top: 155px;
  color: white;
  font-size: 12px;
  font-weight: 400;
}
.line1 {
  display: flex;
}

.line1 .first {
  width: 50%;
  height: 187px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(97, 97, 97, 0.733)
    ),
    url("../../assets/interior1first.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line1 .first p1 {
  margin-top: 160px;
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.line1 .second {
  width: 50%;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(97, 97, 97, 0.733)
    ),
    url("../../assets/interior1second.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line1 .second p1 {
  margin-top: 130px;
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.line1 .second p2 {
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.line2 {
  display: flex;
}

.line2 .first {
  width: 50%;
  height: 187px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(97, 97, 97, 0.733)
    ),
    url("../../assets/interior2first.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line2 .first p1 {
  margin-top: 140px;
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.line2 .first p2 {
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.line2 .second {
  width: 50%;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(97, 97, 97, 0.733)
    ),
    url("../../assets/interior2second.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line2 .second p1 {
  margin-top: 140px;
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.line2 .second p2 {
  color: white;
  font-size: 12px;
  font-weight: 400;
}
.line2 .second p {
  margin-top: 160px;
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.interior .tombolbawah {
  background-color: #163c80;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interior .tombolbawah button {
  margin-top: 20px;
  margin-bottom: 20px;
  border-color: white;
  background-color: #163c80;
  color: white;
}
/*Section Spesifikasi*/
.spesifikasi {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spesifikasi h {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}

/*Section Harga*/
.harga {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.harga h1 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
}

.harga h2 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 0px;
}

.pricecard {
  background-color: #f1f5f6;
  display: flex;
  width: 90%;
  border-radius: 4px;
  margin-top: 20px;
}
.pricecard h {
  font-size: 14px;
  font-weight: 700;
  width: 50%;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.pricecard p {
  font-size: 14px;
  font-weight: 700;
  margin-left: 50px;
}

.harga .button {
  margin-top: 30px;
  width: 45%;
}

.harga button {
  width: 100%;
  background-color: white;
}

.bgbottommenu {
  background-color: #163c80;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}

.karuseloutlet {
  display: block;
  background-color: #f1f5f6;
}
